.aside-app
{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 350px;
  height: 100vh;
  padding: var(--gutter);
  background-color: var(--c-columns-main);
  box-shadow: var(--box-shadow-lg);
  transform: translate(100%);
  will-change: transform;
  transition: transform var(--duration-transition-base);
  z-index: var(--z-layer-fixed);
}

.aside-app.active
{
  transform: initial;
}

.form-container
{
  display: flex;
  flex-direction: column;
  gap: var(--gutter);
}

.aside-form-title
{
  font-size: var(--fp-large);
  color: var(--c-text-dark);
}
