.header-app {
  box-shadow: var(--box-shadow-lg);
  background-color: var(--c-fourth-main);  
}

.header-app, 
.header-app .l-container
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo 
{ 
  max-height: calc(var(--gutter) * 2);
}
