.button
{
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  border-radius: var(--border-radius-md);
  border: unset;
  outline: none;
  font-weight: var(--fw-bold);
  cursor: pointer;
  transition: var(--duration-transition-base);
  font-family: var(--f-second);
}

.button:active 
{
  transform: scale(.94);
}

.button.button-primary 
{
  color: var(--c-text-light);
  background-color: var(--c-second-main);
}

.button.button-secondary.ghost
{
  color: var(--c-text-light);
  background-color: var(--c-second-main);
} 

.button.button-secondary.ghost:hover
{
  background-color: var(--c-fourth-main);
} 
