.card-task 
{
  border-style: solid;
  border-color: var(--c-fourth-main) white white white;
  padding: var(--gutter);
  border-radius: var(--border-radius-md);
  cursor: pointer;
}

.card-task:hover
{
  transform: scale(1.01);
}

.card-task__title 
{
  font-size: var(--fp-base);
  color: var(--c-accent-darker);
}

.card_task__responsible,
.card-task__date 
{
  font-size: var(--fs-normal);
  color: var(--c-accent-darker);
}

.card_task__responsible--tag-creator,
.card-task__date--tag-date
{
  font-size: var(--fs-small);
  color: var(--c-text-dark);
}
